<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{%block title%} {%endblock%}</title>
</head>

<header>
    <div id="header_div">
        <img src="{{ url_for('static', filename='images/postnl-logo.png') }}" alt="PostNL logo" id="postnl_logo">
    <label id = "title_UI"><h1>PostNL Database Requestor</h1></label>
    </div>
    {% block header %}  {% endblock %}
</header>
<body>
{%block content%}
<!-- Content for query.html and result.html will be inserted here -->
{%endblock%}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>