{%extends 'base.html'%}
{% block title %} PostNL Querier {% endblock %}
{% block header %} <h2>Start a new session</h2> {% endblock %}
{% block content %}
<div id="question_div">
<form action="/vanna_table_view" method="POST">
    <div class="session_info">
        <label for="session_subject">Subject:</label>
        <input type="text" id="session_subject" name="session_subject" class="input_field" required><br><br>
    </div>
    <div class="session_info">
        <label for = "session_email">Email:</label>
        <input type="email" id="session_email" name="session_email" class="input_field" required><br><br>
    </div>
    <div class="session_info">
        <label for="session_question_field">Question to ask:</label>
        <textarea id="session_question_field" name="session_question" class="input_field"  required></textarea><br><br>
    </div>

    <input type="submit" value="Ask the database">
</form>
</div>
<div>
    <h1>{{error_message}}</h1>
</div>
{% endblock %}

