{%extends 'base_analyst.html'%}
{% block title %} PostNL Data Requests {% endblock %}
{% block header %} <h2>Table view    | Subject:   {{requested_data.subject}}  | Email: {{requested_data.email}}   </h2>
<h3>Question: {{requested_data.question}}</h3>
{% endblock %}

{% block content %}


<div id="table_with_description_div">


    <div id="result_table_div">
        <h3>Table descriptions</h3>

            {% for table in tables %}
                    {{columns[loop.index]}}
                    {{ table|safe }}
            {% endfor %}
    </div>

<div id="table_descriptions_div">
    <div class="column_description">
        {% for column, description in column_description_dict.items() %}

            <h3>{{ column }}</h3>
            <p>{{ description }}</p>

        {% endfor %}
    </div>


</div>
</div>
{% endblock %}


